@font-face {
  font-family: Archivo;
  src: url('./Fonts/Archivo-VariableFont_wdth,wght.ttf');
  font-weight: 300;
  font-stretch: 105%;
}

:root {
  --textColor: rgb(206, 206, 206);
  --backdropColor: rgb(22, 22, 36) /*rgb(17, 17, 27)*/;
}

.Logo {
  height: 50px;
  width: 50px;

  fill:black;

  margin: 4px 4px 4px 4px;

  transition: transform 150ms;
}

.Logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

body{
  background-color: var(--backdropColor);
  color: var(--textColor);
  font-family: Archivo;
}

div.MainDiv{
  width: 100%;
  height: 100vh;


  display: grid;
  place-items: center;
}

div.TextDiv{
  transform: scale(1.8);
}

.Signature {
  padding-top: 15%;

  transform: scale(1);
}

.SiganturePart{
	stroke: var(--textColor);
}



@font-face {
  font-family: Archivo;
  src: url('./Fonts/Archivo-VariableFont_wdth,wght.ttf');
  font-weight: 300;
  font-stretch: 105%;
}

.SiganturePart{
	stroke-width: 5;
}

.SiganturePart#signature_part1{
	stroke-dasharray: 738;
	stroke-dashoffset:738;
	animation: sign 1s ease-in;
	animation-fill-mode: forwards;
}
.SiganturePart#signature_part2{
	stroke-dasharray: 13;
	stroke-dashoffset: 13;
	animation: sign 0.2s linear;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
.SiganturePart#signature_part3{
	stroke-dasharray: 2053;
	stroke-dashoffset: 2053;
	animation: sign 2s ease-in;
	animation-fill-mode: forwards;
	animation-delay: 1.4s;
}
.SiganturePart#signature_part4{
	stroke-dasharray: 106;
	stroke-dashoffset: 106;
	animation: sign 0.5s linear;
	animation-fill-mode: forwards;
	animation-delay: 3.4s;
}
@keyframes sign{
	to {
		stroke-dashoffset: 0;	
	}
}



